/outputs
/model.pkl
/pysr_fitting.py
/pysr_model.pkl
/softmax_data_gen.py
/softmax_incremental.csv
/.csv_bench.py.swp
/evolve/assmcmcbly/fitness.o
/evolve/assmcmcbly/.mutate.cpp.swp
/evolve/assmcmcbly/.program.hpp.swp
/research/.asm_gen.md.swp
/scripts/plot_approx.png
/.run_rs_HROCH.py.swp
/evolve/assmcmcbly/assmcmcbly
/evolve/assmcmcbly/src/dag.d
/evolve/assmcmcbly/src/execute.d
/evolve/assmcmcbly/src/fitness.d
/evolve/assmcmcbly/src/hardening.d
/evolve/assmcmcbly/src/innovation.d
/evolve/assmcmcbly/src/jit.d
/evolve/assmcmcbly/src/mutate.d
/evolve/assmcmcbly/src/population.d
/evolve/assmcmcbly/src/print.d
/evolve/assmcmcbly/src/problem.d
/evolve/assmcmcbly/src/problem.o
/evolve/assmcmcbly/src/random.d
/evolve/assmcmcbly/src/speciation.d
/evolve/assmcmcbly/runs/20260502_234503
/evolve/assmcmcbly/src/codegen.d
/evolve/assmcmcbly/src/codegen.o
/evolve/assmcmcbly/main.d
/evolve/assmcmcbly/data-analysis/sweep-test/62375.cpp
/evolve/assmcmcbly/data-analysis/sweep-test/8155.cpp
/evolve/assmcmcbly/data-analysis/sweep-test/sweep
/evolve/assmcmcbly/runs
/evolve/assmcmcbly/src/bandit.d
/evolve/assmcmcbly/src/bandit.o
/evolve/assmcmcbly/data-analysis/sweep-test/116692.cpp
/evolve/assmcmcbly/data-analysis/sweep-test/116692.csv
/evolve/assmcmcbly/data-analysis/sweep-test/116692_plot.png
/evolve/assmcmcbly/data-analysis/sweep-test/finvsqrt.csv
/evolve/assmcmcbly/data-analysis/sweep-test/finvsqrt_plot.png
/evolve/assmcmcbly/data-analysis/sweep-test/sweep_116692
/evolve/assmcmcbly/data-analysis/sweep-test/sweep_finvsqrt
/evolve/assmcmcbly/data-analysis/sweep-test/339733.cpp
/evolve/assmcmcbly/data-analysis/sweep-test/339733.csv
/evolve/assmcmcbly/data-analysis/sweep-test/sweep_339733
/evolve/assmcmcbly/data-analysis/sweep-test/11630.cpp
/evolve/assmcmcbly/data-analysis/sweep-test/11630.csv
/evolve/assmcmcbly/data-analysis/sweep-test/16087.cpp
/evolve/assmcmcbly/data-analysis/sweep-test/16087.csv
/evolve/assmcmcbly/data-analysis/sweep-test/16090.cpp
/evolve/assmcmcbly/data-analysis/sweep-test/18628.cpp
/evolve/assmcmcbly/data-analysis/sweep-test/18705.cpp
/evolve/assmcmcbly/data-analysis/sweep-test/18705.csv
/evolve/assmcmcbly/data-analysis/sweep-test/25872.cpp
/evolve/assmcmcbly/data-analysis/sweep-test/25872.csv
/evolve/assmcmcbly/data-analysis/sweep-test/26405.cpp
/evolve/assmcmcbly/data-analysis/sweep-test/26405.csv
/evolve/assmcmcbly/data-analysis/sweep-test/29240.cpp
/evolve/assmcmcbly/data-analysis/sweep-test/29240.csv
/evolve/assmcmcbly/data-analysis/sweep-test/29240_plot.png
/evolve/assmcmcbly/data-analysis/sweep-test/42034.cpp
/evolve/assmcmcbly/data-analysis/sweep-test/sweep_11630
/evolve/assmcmcbly/data-analysis/sweep-test/sweep_16087
/evolve/assmcmcbly/data-analysis/sweep-test/sweep_18705
/evolve/assmcmcbly/data-analysis/sweep-test/sweep_25872
/evolve/assmcmcbly/data-analysis/sweep-test/sweep_26405
/evolve/assmcmcbly/data-analysis/sweep-test/sweep_29240
/evolve/assmcmcbly/src/.fitness.hpp.swp
